@{
    ViewData["Title"] = "Home Page";
}

<section>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident qui cum, magnam unde obcaecati placeat excepturi eos saepe! Itaque, iure!
</section>
